{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <h1>{{ titulo }}</h1>
</div>
<form method="POST">
  <div class="card mb-4">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        {{ form.as_table }}
        {% for error in form.password.errors %}
          <tr>
            <td colspan="2">
              <p class="text-danger">{{ error }}</p>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="submit" class="btn btn-success float-end" value="{{ titulo }}" />
      <a href="/entrada" class="btn btn-danger">Volver</a>
    </div>
  </div>
  {% csrf_token %}
</form>
{% endblock content %}