{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Bienvenido a mi página </h1>
    {% if user.is_authenticated %}
    <p>Usuario: {{ user.username }}</p>
    <!--Cierre de sesion -->
    <!-- <a href="{% url 'logout'%}" class="btn btn-danger"> Logout</a> -->
    <div>
        <a href="/producto" class="btn btn-success">Producto</a>
        <a href="bodega" class="btn btn-primary">Bodega</a>
        <a href="/tienda" class="btn btn-danger">Tienda</a>
        <a href="/categoria" class="btn btn-success">Categorias</a>
        <a href="/reporte2" class="btn btn-primary">Reportes</a>
    </div>
    <div>
        <a href="/devolucion" class="btn btn-primary">Devolucion de productos</a>
        <a href="/entrada" class="btn btn-danger">Entrada de productos</a>
        <a href="/salida" class="btn btn-success">Salida de productos</a>
    </div>





    {% else %}
    <p>Usuario no autenticado</p>
    <!--link para login-->
    <a href="{% url 'login'%}" class="btn btn-success"> Iniciar Sesión</a>
    {% endif %}
</div>


{% endblock %}