{% extends "base.html" %}
{% block title %}
Categoria
{% endblock title %}
{% block content %}
{% load static %}


<!-- CSS datatable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<div class="container text-center">
    <div class="container text-center">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="container">
        <div class="container d-flex justify-content-end mb-1">
            <!-- Agregar bodega -->
            <a href="/agregarCategoria" class="btn btn-success btn-md mx-2">Agregar categoria</a>
            <!-- Volver a la derecha -->
            <a href="/" class="btn btn-primary float-end mx-2">Volver</a>
        </div>
        {% if categorias %}
        <div class="card mb-4">
            <table id="example" class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-center text-secondary text-xl font-weight-bolder">ID</th>
                        <th class="text-center text-secondary text-xl font-weight-bolder ps-2">Nombre de la categoría</th>
                        <th class="text-center text-uppercase text-secondary text-xl font-weight-bolder">Descripción de la categoría</th>
                        <th class="text-uppercase text-uppercase text-secondary text-xl font-weight-bolder">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td class="text-l text-center font-weight-bold mb-0">{{ categoria.id }}</td>
                        <td class="text-l text-center font-weight-bold mb-0">{{ categoria.nombreCategoria }}</td>
                        <td class="text-l text-center font-weight-bold mb-0">{{ categoria.descripcionCategoria }}</td>
                        <td>
                            <a href="/categoria/edit/{{ categoria.id }}" class="btn btn-warning"><i
                                    class="bi bi-pencil-square"></i>
                            </a>
                            <a href="/categoria/delete/{{ categoria.id }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta categoría?')"><i
                                    class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-danger text-center" role="alert">
            <h1 class="text-warning">No hay categoria registradas</h1>
        </div>
        {% endif %}
    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- JS DataTable -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <!-- Inicialización JS -->
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
{% endblock content %}